.home-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .home-header {
    margin-left: 25vw;
    margin-right: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
  }
  
  .home-search-bar {
    padding-right: 26vw;
  }
  
  .home-buttons {
    text-transform: none;
  }
  
  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .job-postings {
    list-style: none;
    padding: 0;
    margin: 16px;
  }
  
  .job-postings li {
    margin-bottom: 16px;
  }
  
  .job-postings h3 {
    margin-bottom: 8px;
  }

  .home-logo{
    height: 50px;
  }