  .home-container {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

  .home-header {
    margin-left: 15em;
    margin-right: 15em;
    width: 60em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
  }

  .home-left-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-right-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-buttons {
    text-transform: none;
  }

  .job-postings {
    list-style: none;
    padding: 0;
    margin: 16px;
  }
  
  .job-postings li {
    margin-bottom: 16px;
  }
  
  .job-postings h3 {
    margin-bottom: 8px;
  }

  .home-company-name{
    font-weight: bold;
    color: #0073b1; 
  }

  .home-logo{
    height: 50px;
    margin-bottom: -0.2em;
  }

  .home-search-bar {
    padding-left: 0.5em;
  }

  .add-job-btn {
    margin: 2%;
    margin-left: 85%;
  }

  /* New Rules */
.home-content {
  height: 100%;
  background-color: rgba(39, 48, 61, 0.1) !important;
}

.home-content .available-jobs {
  font-family: "Quicksand";
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0.5em;
}

.home-container .welcome-banner {
  font-family: 'Quicksand';
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.home-content .home-jobs-container {
  display: grid;
  gap: 1em;
  grid-template-columns: auto auto auto; 
  color: white;
}

.home-content .home-jobs-container .grid-item {
  border: rgb(26, 32, 39) 1px solid;
  padding: 2em;
  text-align: center;
  background-color: white;
  color: rgb(26, 32, 39);
  cursor: pointer;
}

.home-content .home-jobs-container div {
  font-family: 'Quicksand';
}

.home-content .home-jobs-container p {
  font-family: 'Quicksand';
}

.home-content .welcome-banner-container {
  width: 98.4%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 1em;
  border: rgb(26, 32, 39) 1px solid;
  border-radius: 0;
}