  .home-container {
      display: flex;
      flex-direction: column;
      height: 50%;
    }
  
  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: rgba(39, 48, 61, 0.1);
    padding-top:30px;
  }

  .home-content-search {
    padding-right: 80%;
    flex-grow: 1;
    padding-top:40px;
  }

  .job-postings {
    list-style: none;
    padding: 0;
    margin: 16px;
  }
  
  .job-postings li {
    margin-bottom: 16px;
  }
  
  .job-postings h3 {
    margin-bottom: 8px;
  }

  .home-company-name{
    font-family: Calibri;
    font-size: 1.5em;
    padding: 10px;
    font-weight: bold;
    color: #0073b1; 
  }
  .home-logo{
    height: 100px;
    margin-bottom: -0.8em;
  }

  .home-search-bar {
    padding-left: 0.5em;
  }
