  .home-container {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

  .home-header {
    margin-left: 15em;
    margin-right: 15em;
    width: 60em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
  }

  .home-left-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-right-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-buttons {
    text-transform: none;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: rgba(39, 48, 61, 0.1);
  }

  .job-postings {
    list-style: none;
    padding: 0;
    margin: 16px;
  }
  
  .job-postings li {
    margin-bottom: 16px;
  }
  
  .job-postings h3 {
    margin-bottom: 8px;
  }

  .home-company-name{
    font-size: 2em;
    font-weight: bold;
    color: #0073b1; 
  }
  .home-logo{
    height: 50px;
    margin-bottom: -0.2em;
  }

  .home-search-bar {
    padding-left: 0.5em;
  }

  .add-job-btn {
    margin: 2%;
    margin-left: 85%;
  }