.profile-bio{
    padding-top: 0.5vw;
}
.profile-description{
    padding-left: 1.5em;
    padding-top: 1em;
}
.profile-skills-content ul{
    font-size: large;
    width:50%;
}

.profile-experience-title{
    padding-top: 0.5em;
}
.profile-experience{
    padding-left: 1.5em;
    padding-top: 0.2em;
}

/* .profile-experience-entry{
    padding-left: 1em;
} */

.profile-experience-entry-description{
    align-self: center;
    width:80%;
}

.profile-btn{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: -200px;
}

.profile-name-card{
    margin-top: 0.5em;
    margin-right: 0.25em;
    width: 45vw;
}

.profile-skill-card{
    margin-top: 0.5em;
    margin-left: 0.25em;
    width: 15vw
}
.profile-card{
    margin-top: 0.5em;

    margin-bottom: 0.5em;   
}

.profile-body{
    background-color: rgba(39, 48, 61, 0.1);
    padding-top: 1em;
    padding-bottom: 10em;
    padding-left: 25vw;
    padding-right: 25vw;
}

.profile-picture {
    vertical-align: middle;
    margin-top: -90px;
    width: 100px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid white;
 }

 .profile-resume {
    padding-left: 5vw;
    padding-top: 0.2vw
 }

 .profile-experiences{
    padding-top: 1em;
    margin-left: 1.5em;
 }
 .profile-educations{
    padding-top: 1em;
    margin-left: 1.5em;
 }
 .profile-experience {
    padding-left: 2em;
    margin-bottom: 0.5em;
 }

.profile-education {
    padding-left: 2em;
    margin-bottom: 0.5em;
 }