html {
    height: 100%;
}

body {
    background-color: rgba(241, 239, 239, 0.814);
    min-height: 100%;
}

.job-details-wrapper {
    margin-top: 2em;
    margin-bottom: 2em;
}

.jobDetails-container {
    height: 50em;
    width: 60em;
    font-family: 'Quicksand' !important;
    margin: auto;
}

.jobDetails-company {
    font-family: "Russo One" !important;
    font-size: 64px;
    text-align: center;
    margin: 0;
}

.jobDetails-position {
    text-align: center;
    font-family: 'Quicksand' !important;
}

.jobDetails-meta .jobDetails-specifics {
    display: flex;
    justify-content: center;
    gap: 1em;
    font-size: 1em;
}

.jobDetails-meta .jobDetails-specifics div {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.jobDetails-main {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.jobDetails-main .job-requirements {
    padding-left: 0.90em;
    padding-right: 0.90em;
}

.jobDetails-main .job-requirements.other-employer {
    width: 72%;
}

.jobDetails-main .application-form .horizontal{
    display: flex;
}

.jobDetails-main .application-form .horizontal .first-input{
    margin-right: 1em;
    margin-left: auto;
}

.jobDetails-main .application-form .horizontal .second-input{
    margin-right: auto;
}

.jobDetails-main .application-form .lone-input {
    margin-left: auto;
    margin-right: auto;
}

.jobDetails-main .application-form .apply-btn {
    width: 24%; 
    margin-left: auto; 
    margin-right: auto;
}

.jobDetails-main .application-form.employer-view {
    width: 50%;
}

.jobDetails-main .application-form.employer-view li {
    text-align: center;
}

.jobDetails-main .application-form.employer-view .applicant-list {
    height: 400px;
    overflow: auto;
}

.jobDetails-main .job-description{ 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    overflow: auto;
    height: 10em;
}

.jobDetails-main .application-form {
    width: 100%;
}

.jobDetails-main .application-form .form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1em;
}

.jobDetails-main .application-form .form label{
    color: #1B67C9;
}

.jobDetails-main .job-requirements .skill-list {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}