.login-page-wrapper {
    margin-top: 10em;
}

.linkedout-banner {
    text-align: center;
    margin-bottom: 0;
}

.login-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.login-container .username-field {
    margin-top: 1em;
}

.login-container .password-field {
    margin-top: 1em;
}

.login-container .login-btn {
    width: 40%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}